.App {
  height: 100%;
  display: flex;
  flex-direction: row;
}

header {
  max-width: 50px;
  box-shadow: 2px 0 3px rgba(47, 46, 46, 0.807);
  background-color: rgba(26, 25, 25, 0.904);
}

main {
  width: 100%;
  padding: 14px;
  overflow-y: auto;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar > li {
  text-align: center;
}

.navbar-brande {
  width: 100%;
}

.navbar-item {
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-decoration: none;
  padding: 24px 0;
  text-align: center;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  color: #efefef;
}

.navbar-item:hover {
  background-color: rgba(192, 192, 192, 0.089);
}
